ul {
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}

li {
    list-style-type: none;
}

meter::-webkit-meter-optimum-value {
    background: royalblue;
}

#task-progress {
    width: 300px;
    margin-top: 0.2em;
    align-items: end;
}

#progress-bar {
    display: flex;
    align-items: baseline;
    gap: 8px;
}

:checked {
    accent-color: royalblue;
}

.task-layout {
    display: flex;
    gap: 100px;
    align-items: flex-start;
}

.person-list {
    width: 400px;
}

.task-list {
    flex: 1;
    text-align: start;
}

#task-filters {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.filter-options {
    max-width: 150px;
}

.task-scroll {
    max-height: 700px; /* adjust height as needed */
    overflow-y: auto; /* enables vertical scrolling */
    padding-right: 5px; /* optional for scrollbar spacing */
}
