h1,
h4 {
    text-align: left;
    margin-left: 20px;
}

h4 {
    margin-top: 5px;
    font-weight: lighter;
}

.card {
    border-radius: 8px;
    background: #fff;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0px;
}
