#card-border {
    border: 1px solid lightgray;
    border-radius: 8px;
    display: flex;
    align-items: flex-start; /* aligns top edges */
    gap: 16px; /* space between image and text */
    padding: 12px;
    cursor: pointer;
}

#card-border.active {
    border-color: royalblue;
    border-width: 3px;
}

#profile-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

#person-info {
    text-align: left;
}

.person-card {
    padding-bottom: 5px;
}

#display-name {
    font-weight: bold;
}

.record-info {
    font-weight: lighter;
}
